@charset "UTF-8";

.blockquote-container.blockquote-left {
  float: left;
  width: 35%;
  margin-right: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .blockquote-container.blockquote-left {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.blockquote-container.blockquote-right {
  float: right;
  width: 35%;
  margin-left: 1rem;
}

.blockquote-container .callout .blockquote-title {
  margin-left: 1rem;
}

.blockquote-container .callout blockquote {
  quotes: "“" "”" "‘" "’  ";
  border-left: none;
}

.blockquote-container .callout blockquote:before {
  content: open-quote;
  color: #8a8a8a;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

.blockquote-container .callout blockquote:after {
  content: close-quote;
  color: #8a8a8a;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.6em;
}

.blockquote-container .callout blockquote .blockquote-content {
  display: inline;
  color: #0a0a0a;
}
