
.hero-section {
  background: url("https://echalk-slate-prod.s3.amazonaws.com/private/schools/85/resources/0a2e442e-3a8b-4555-b928-e049eda168e0?AWSAccessKeyId=AKIAIZQPKIVDQVS7TUJA&Expires=1790877582&response-content-disposition=attachment%3Bfilename%3D%22DSC_6769.jpg%22&response-content-type=image%2Fjpeg&Signature=CQbKGWYOsf30pEwg6T%2BIrC62S%2BI%3D") 50% no-repeat;
  background-size: cover;
  height:150vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
